################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project/.vs/Project
/Project/.vs/Project
/TaskParallelLibrary/.vs/TaskParallelLibrary/FileContentIndex
/TaskParallelLibrary/TaskParallelLibrary/bin/Debug/net6.0
/TaskParallelLibrary/TaskParallelLibrary/obj/Debug/net6.0
/TaskParallelLibrary/TaskParallelLibrary/obj
/TaskParallelLibrary/.vs/TaskParallelLibrary/v17
/HelloWorldAPIDemo/.vs/HelloWorldAPIDemo
/HelloWorldAPIDemo/HelloWorldAPIDemo/bin/Debug/net7.0
/HelloWorldAPIDemo/HelloWorldAPIDemo/obj
