################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project/.vs/Project
/Project/.vs/Project
/TaskParallelLibrary/.vs/TaskParallelLibrary/FileContentIndex
/TaskParallelLibrary/TaskParallelLibrary/bin/Debug/net6.0
/TaskParallelLibrary/TaskParallelLibrary/obj/Debug/net6.0
/TaskParallelLibrary/TaskParallelLibrary/obj
/TaskParallelLibrary/.vs/TaskParallelLibrary/v17
/EmployeeService/.vs/EmployeeService
/EmployeeService/EmployeeService/bin
/EmployeeService/EmployeeService/obj/Debug
/EmployeeService/packages
/BasicAuthenticationWebAPI/.vs/BasicAuthenticationWebAPI
/BasicAuthenticationWebAPI/BasicAuthenticationWebAPI/bin
/BasicAuthenticationWebAPI/BasicAuthenticationWebAPI/obj/Debug
/BasicAuthenticationWebAPI/packages
